:root {
  --litepickerBgColor: #fff;
  --litepickerMonthHeaderTextColor: #333;
  --litepickerMonthButton: #{$brand};
  --litepickerMonthButtonHover: #{$brand};
  --litepickerMonthWidth: calc(var(--litepickerDayWidth) * 7);
  --litepickerMonthWeekdayColor: #9e9e9e;
  --litepickerDayColor: #333;
  --litepickerDayColorHover: #{$brand};
  --litepickerDayIsTodayColor: #{$brand};
  --litepickerDayIsInRange: #{rgba($brand, 0.2)};
  --litepickerDayIsLockedColor: #9e9e9e;
  --litepickerDayIsBookedColor: #9e9e9e;
  --litepickerDayIsStartColor: #fff;
  --litepickerDayIsStartBg: #{$brand};
  --litepickerDayIsEndColor: #fff;
  --litepickerDayIsEndBg: #{$brand};
  --litepickerDayWidth: 38px;
  --litepickerButtonCancelColor: #fff;
  --litepickerButtonCancelBg: #9e9e9e;
  --litepickerButtonApplyColor: #fff;
  --litepickerButtonApplyBg: #{$brand};
  --litepickerButtonResetBtn: #909090;
  --litepickerButtonResetBtnHover: #{$brand};
  --litepickerHighlightedDayColor: #333;
  --litepickerHighlightedDayBg: #ffeb3b;
}
.litepicker {
  direction: ltr;
}
.litepicker-backdrop {
  background-color: transparent;
}
