* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
html {
  overflow: hidden;
  font-size: $font-size;
  height: 100%;
}

body {
  background: $page-bg;
  color: $primary;
  font-family: $font;
  height: 100%;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: $primary;
  text-decoration: none;
  transition: color 0.5s ease;
}

svg {
  transition: fill 0.5s ease;
}

button {
  background: no-repeat;
  border: none;
  outline: none;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: 900;
  margin: 1em 0;
  line-height: 1.2;
  @include md {
    line-height: 1;
    margin: 0.5em 0 1em 0;
    font-size: 2.5rem;
  }
}
p {
  font-size: 0.9rem;
  line-height: 1.6;
  @include md {
    line-height: 1.4;
  }
  &.lead {
    font-size: 1.1rem;
    margin: 2rem 0;
  }
}

@media screen and (prefers-color-scheme: dark) {
  img {
    opacity: 0.8;
  }
}
