button {
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input {
  border: none;
  border-radius: $border-radius;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  outline: none;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 1.4em;
}
.input-group {
  position: relative;
  overflow: hidden;
  border-radius: $border-radius;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  .icon {
    position: absolute;
    top: 0;
    right: 0;
    color: $brand;
    background: rgba(62, 62, 148, 0.2);
    height: 48px;
    line-height: 48px;
    width: 40px;
    text-align: center;
    font-size: 1.6em;
  }
  input {
    width: 100%;
    padding-right: 50px;
  }
}
.btn {
  border-radius: $border-radius;
  height: 44px;
  padding: 0 1em;
  transition: all 0.3s ease;
}

.btn-primary {
  background: rgba($checkbox-bg, 0.16);
  &:hover,
  &.active {
    color: $brand;
    background: rgba($brand, 0.2);
  }
}

.btn-secondary {
  color: white;
  background: lighten($brand, 10%);
  &:hover {
    background: lighten($brand, 8%);
  }
}

.card {
  background: $secondary;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  border-radius: $border-radius * 2;
  .head {
    padding: $padding;
  }
  .body {
    padding: 8px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
  &.card-namaz {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    margin-bottom: 1.2em;
    &:last-child {
      margin-bottom: 0;
    }
    .checkbox {
      font-size: 0.8em;
      &:first-child {
        margin-right: 0;
      }
      &:last-child {
        margin-left: 0;
      }
    }
    .head {
      h3 {
        font-size: 2.4em;
        font-weight: 400;
        margin: 0;
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.16);
        color: white;
        .required {
          font-size: 0.6em;
          vertical-align: top;
          right: -10px;
          position: relative;
        }
      }
    }
    &.card-fajar {
      .head {
        background: $fajar url(../images/fajar-bg.svg) bottom left / auto
          no-repeat;
      }
    }
    &.card-zuhar {
      .head {
        background: $zuhar url(../images/zuhar-bg.svg) bottom left / auto
          no-repeat;
      }
    }
    &.card-asar {
      .head {
        background: $asar url(../images/asar-bg.svg) bottom left / auto
          no-repeat;
      }
    }
    &.card-maghrib {
      .head {
        background: $maghrib url(../images/maghrib-bg.svg) bottom left / auto
          no-repeat;
      }
    }
    &.card-isha {
      .head {
        background: $isha url(../images/isha-bg.svg) bottom left / auto
          no-repeat;
      }
    }
  }
  .loader {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
    border-color: white;
    border-top-color: $brand;
  }
}

.checkbox {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-size: 1em;
  margin: 8px 2px;
  input {
    box-shadow: none;
    display: none;
    &:checked {
      ~ .checkbox-text {
        &:before {
          font-family: "iconfonts";
          content: "\ea07";
        }
      }
    }
  }

  .checkbox-text {
    background: rgba($checkbox-bg, 0.16);
    border-radius: 8px;
    padding: 10px 30px 10px 8px;
    line-height: 1;
    position: relative;
    display: inline-block;
    &:before {
      position: absolute;
      top: 50%;
      right: 8px;
      font-size: 0.5em;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      color: white;
      background: white;
      border-radius: 4px;
      cursor: pointer;
      content: "";
      transform: translateY(-50%);
    }
  }
  &.bajamat {
    input {
      &:checked {
        ~ .checkbox-text {
          background: rgba($brand, 0.2);
          color: $brand;
          &:before {
            background: $brand;
          }
        }
      }
    }
  }
  &.akeelay {
    input {
      &:checked {
        ~ .checkbox-text {
          background: rgba($brand, 0.2);
          color: $brand;
          &:before {
            background: $brand;
          }
        }
      }
    }
  }
  &.qaza {
    input {
      &:checked {
        ~ .checkbox-text {
          background: rgba($brand, 0.2);
          color: $brand;
          &:before {
            background: $brand;
          }
        }
      }
    }
  }
  &.nahi {
    input {
      &:checked {
        ~ .checkbox-text {
          background: rgba($brand, 0.2);
          color: $brand;
          &:before {
            background: $brand;
          }
        }
      }
    }
  }
}

.notification {
  position: absolute;
  bottom: $nav-height + 10;
  z-index: 1;
  display: block;
  width: 90%;
  padding: 1em;
  background: rgba(darken($bajamat, 8%), 0.9);
  color: white;
  border-radius: $border-radius;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, $nav-height * 2);
  transition: all 0.3s ease;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  .icon {
    margin-left: 1em;
  }
  &.show {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
.summaries {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  .placeholder {
    text-align: center;
    flex: 1;
    font-style: italic;
  }
  .summary {
    flex: 0 0 48%;
    border-radius: 16px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    &:nth-child(5) {
      margin-left: auto;
      margin-right: auto;
    }
    .title {
      font-size: 1em;
      margin: 0;
      padding: 0.3em 1em;
    }
    .value {
      font-size: 1.6em;
      margin: 1em 0;
      text-align: center;
      line-height: 1;
    }
    &.bajamat {
      background: $bajamat;
      .title {
        background: darken($bajamat, 4%);
      }
    }
    &.akeelay {
      background: $akeelay;
      .title {
        background: darken($akeelay, 4%);
      }
    }
    &.qaza {
      background: $qaza;
      .title {
        background: darken($qaza, 4%);
      }
    }
    &.nahi {
      background: $nahi;
      .title {
        background: darken($nahi, 4%);
      }
    }
  }
}
.singleDay {
  &.loading {
    .summary {
      position: relative;
      .loader {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
        border-color: white;
        border-top-color: $brand;
      }
    }
  }
}

.tabs {
  .tab-buttons {
    display: flex;
    border-radius: $border-radius;
    overflow: hidden;
    .btn-tab {
      flex: 1;
      // border-right: 1px solid rgba($checkbox-bg, 0.32);
      border-radius: 0;
      &:first-child {
        border-right: none;
      }
    }
  }
  .tab-content {
    padding-top: 2em;
    &:not(.active) {
      display: none;
    }
  }
}
.tags {
  display: inline-flex;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 2em;
  button {
    flex: 0 0 60px;
    white-space: nowrap;
    padding: 0.8em 1em;
    margin-left: 0.5em;
    border-radius: $border-radius * 3;
    &.active {
      color: $brand;
      background: rgba($brand, 0.2);
    }
  }
}
