.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.row.vertical-center {
  justify-content: center;
}

.col-6 {
  flex-basis: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  @include md {
    flex-basis: 50%;
  }
}

.container {
  width: 100%;
  @include md {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - #{$container-padding});
    justify-content: space-between;
  }
}

.col-left {
  padding: 16px;
  margin: -20px -20px 0 -20px;
  @include md {
    margin: 0;
    flex-basis: 25%;
    position: sticky;
    top: #{$container-padding / 2};
  }
}

.col-right {
  @include md {
    padding: 0 16px;
    // overflow-y: auto;
    height: 100%;
    flex-basis: 70%;
  }
  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
