.page-container {
  height: 100%;
  &.logged-in {
    height: calc(100% - #{$nav-height - 20});
  }
  display: flex;
  transition: transform 0.3s ease;
  .page {
    flex: 0 0 100%;
    background: red;
    &.page-login {
      background: $brand;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      h1 {
        color: $secondary;
      }
    }
  }
}
.form-login {
  margin-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  input {
    margin-bottom: 20px;
  }
}
