.nav {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
  height: $nav-height;
  display: flex;
  justify-content: space-around;
  border-top:1px solid #EFEFEF;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
