.nav {
  position: fixed;
  z-index: 2;
  bottom: 0;
  background: white;
  width: 100%;
  height: $nav-height;
  display: flex;
  justify-content: space-around;
  // border-top: 1px solid #efefef;
  border-top-left-radius: $border-radius * 3;
  border-top-right-radius: $border-radius * 3;
  box-shadow: 0 -2px 22px rgba(0, 0, 0, 0.08);
  font-size: 1rem;
  overflow: hidden;
  .btn-nav {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    transition: all 0.6s ease;
    &.active {
      color: $brand;
      background: rgba($brand, 0.12);
    }
  }
}
