.text-center {
  text-align: center;
}
.hide {
  display: none !important;
}
.mb-1 {
  margin-bottom: 1em !important;
}
.mb-2 {
  margin-bottom: 2em !important;
}
.mt-1 {
  margin-top: 1em !important;
}
