// =============
// Theme - Light
// =============

$page-bg: #fafafa;
$primary: #000000;
$secondary: #ffffff;
$brand: #3e3e94;
$nav-bg: #ffffff;

// Typography
$font-size: 16px;
$font: "Noto Naskh Arabic", sans-serif;

// Spacing
$container-padding: 80px;
$border-radius: 8px;
$padding: 20px;

// Navigation
$nav-height: 60px;

// Pages
$header-height: 120px;

// =============
// Breakpoints
// =============

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
