// =============
// Theme - Light
// =============

$page-bg: #fafafa;
$primary: #000000;
$secondary: #ffffff;
$brand: #3e3e94;
$nav-bg: #ffffff;

// Typography
$font-size: 16px;
$font: "Noto Naskh Arabic", sans-serif;

// Spacing
$container-padding: 80px;
$border-radius: 8px;
$padding: 20px;

// Navigation
$nav-height: 60px;

// Pages
$header-height: 160px;
$shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

// Colors
$checkbox-bg: #8a8a8a;
$bajamat: #007e08;
$akeelay: #0066ff;
$qaza: #c69200;
$nahi: #d40e0e;

// Overwriting colors
$bajamat: #3e3e94;
$akeelay: #3e3e94;
$qaza: #3e3e94;
$nahi: #3e3e94;

$fajar: #0858ff;
$zuhar: #ffbc02;
$asar: #ff8102;
$maghrib: #eb5211;
$isha: #0f1264;

// =============
// Breakpoints
// =============

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
